body {
    font-family: Arial, sans-serif;
}

.nombre {
    color: #D6680B;
    font-weight: bold;
}

.descripcion {
    text-align: justify;
    color: #424242;
}

.boton button {
    background: #0054DC;
    border-radius: 50px;
    color: white;
    border: none;
}

@media screen and (min-width:1024px) {
    body {
        padding: 70px;
    }

    .nombre {
        font-size: 35px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .app {
        text-align: center;
        margin-top: 70px;
    }

    .descripcion {
        font-size: 30px;
        margin-top: 70px;
    }



    .boton {
        margin-top: 20px;
        text-align: center;
    }

    .boton button {
        font-size: 40px;
        padding: 15px 150px 15px 150px;


    }
}

@media screen and (max-width: 1023px) {
    body {
        text-align: center;
        padding: 80px 35px;
        height: 100vh;
    }

    .nombre {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .app img {
        margin-top: 15px;
        height: 90%;
        width: 90%;
    }

    .descripcion {
        margin-top: 30px;
        font-size: 20px;
        padding: 2px;
    }

    .boton {
        margin-top: 30px;
        text-align: center;

    }

    .boton button {
        font-size: 30px;
        padding: 15px 85px 15px 85px;

    }
}