body {
  font-family: Arial, sans-serif;
  color: #333;
}
nav{
  margin: -7px;
  padding: 1em 2em;
  display: flex;
  box-shadow: 0px 4px 4px -5px gray;
}
img{
  width: 2em;
  height: 2em;
}
.nombre{
  margin-left: 1em;
  margin-top: 0.5em;
  font-weight: bold;
  color: rgb(119, 112, 112);
}

main{
  padding-top: 5em;
}
.descarga{
  text-align: center;
}
#img2{
  width: 5em;
  height: 5em;
}
#btnInstall{
  font-size: 20px;
  padding: 1em;
  text-align: center;
  border-radius: 50px;
  background: rgb(211, 211, 235);
}
.informacion{
  margin-top: 40px;
  padding: 1.5em;
  font-size: 18px;
}
ul{
  list-style: none;
}
li{
  margin-bottom: 10px;
}
li::before{
  content: "💠";
  margin-right: 15px;

}
